body {
    background-image: url("../assets/home/background-home-desktop.jpg");
    background-size: cover;
    line-height: 2;
    font-size: 1.5em;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

a:visited {
    text-decoration: none;
    color: #FFFFFF;
}

header {
    text-align: right;
}

.nav-bar {
    color: #FFFFFF;
    backdrop-filter: blur(20px);
    background-color: rgba(170, 168, 168, 0.054);
    display: inline-block;
    margin: 50px auto;
    padding: 25px;
    padding-left: 200px;
    padding-right: 200px;
    word-spacing: 50px;
    
    
}


.home-content-text {
    color: white;
    margin: auto 100px;
    padding: 25px;
    width: 25%;
    text-align: left;
}

.home-content-paragraph {
    font-size: 1.25rem;
}

.space-word {
    text-align: left;
    font-size: 100px;
    margin: 0;
    letter-spacing: 30px;
}

.explore-circle {
    display: flex;
    width: 274px;
    height: 274px;
    margin: auto;
    position: absolute;
    left: 75%;
    bottom: 10%;
    border-radius: 360px;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 1px black;
    align-items: center;
    justify-content: center;
}

.explore-word {
    font-size: 32px;
    color: #232323;
    text-align: center;
    letter-spacing: 5px;
}